{% set resetUrl = path('user', {'action' : 'reset-password', 'hash' : user.resetPasswords|last.hash}) %}
<table style="background-color: #F7F7F7; border-collapse: collapse; width: 600px; margin: auto; font-family: Trebuchet MS; table-layout: fixed;">
    <tr>
        <td>
            <img src="{{ config.application.url }}/" style="width: 150px; display: block; margin: 30px auto;">
        </td>
    </tr>
    <tr>
        <td><h2 style="text-align: center; margin: 0 0 20px;">{% trans 'Hi' %} {{ user.detail.firstName ?? user.email }},</h2></td>
    </tr>
    <tr>
        <td style="padding: 0 15px 20px">
            <p style="margin: 0; line-height: 24px;">{% trans 'Someone requested a password reset for this account' %}: {{ user.identity }}<br />
                {% trans 'If you did not make this request, just ignore this email - no changes have been made to your account yet.' %}</p>
            <p style="margin: 0; line-height: 24px;">{% trans 'Otherwise, you can reset your password by clicking the button or copy the link below in your browser.' %}</p>

            <a href="{{ resetUrl }}" target="_blank"
               style="display: block; margin: 25px auto 40px auto; background-color: #C60B31; border: none; color: #fff; border-radius: 5px; padding: 10px 20px; font-size: 14px;
			cursor: pointer; max-width: 140px; text-align: center; text-decoration: none;">
                {% trans 'Reset password' %}
            </a>

            <p>{% trans 'Reset password link' %}: {{ resetUrl }}</p>

            <p style="font-size: 11px; margin: 40px 0 0; line-height: 24px;">{% trans 'Have a great day,' %}<br />
                {{ config.application.name }} {% trans 'Team' %}</p>
        </td>
    </tr>
</table>