<table style="background-color: #F7F7F7; border-collapse: collapse; width: 600px; margin: auto; font-family: Trebuchet MS; table-layout: fixed;">
    <tr>
        <td>
            <img src="{{ config.application.url }}/" style="width: 150px; display: block; margin: 30px auto;">
        </td>
    </tr>
    <tr>
        <td><h2 style="text-align: center; margin: 0 0 20px;">{% trans 'Hi' %} {{ user.detail.firstName ?? user.identity }},</h2></td>
    </tr>
    <tr>
        <td style="padding: 0 15px 20px">
            <p style="margin: 0; line-height: 24px;">{% trans 'You have successfully reset your' %} {{ config.application.name }} {% trans 'password' %}.<br />
                {% trans 'You can now access your account using your email' %} ({{ user.identity }}) {% trans 'and the password you just set' %}.</p>

            <p style="font-size: 11px; margin: 40px 0 0; line-height: 24px;">{% trans 'Have a great day,' %}<br />
                {{ config.application.name }} {% trans 'Team' %}</p>
        </td>
    </tr>
</table>
