<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo d-flex align-items-center">
                                    <img id="min-logo" src="{{ asset('images/app/min-logo.svg') }}" alt="DotKernel">
                                    <img id="full-logo" src="{{ asset('images/app/logo.svg') }}" alt="DotKernel">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text"></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
                <a class="sidebar-link" href="{{ path('dashboard') }}">
                    <span class="icon-holder">
                        <i class="c-blue-500 ti-home"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="c-teal-500 ti-view-list-alt"></i>
                    </span>
                    <span class="title">Manage Admins</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown">
                        <a href="{{ path('admin', { action : 'manage' }) }}">
                            <span>List</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{{ path('admin', { action : 'logins' }) }}">
                            <span>View logins</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="sidebar-link" href="{{ path('page', { action : 'components' }) }}">
                    <span class="icon-holder">
                        <i class="c-pink-500 ti-palette"></i>
                    </span>
                    <span class="title">Components</span>
                </a>
            </li>
        </ul>
    </div>
</div>