<h3>Change password</h3>
<span class="sub-title"></span>

{{ messagesPartial('partial::alerts', {}, null, 'profile-password') }}

{% set dummy = form.prepare() %}
{{ form().openTag(form) | raw }}

{% set password = form.get('password') %}
{% set elementTranslatePlaceholder = password.getAttribute('placeholder')|trans|raw %}
{% set dummy = password.setAttribute('placeholder', elementTranslatePlaceholder) %}
{{ formElement(password) }}

{% set passwordConfirm = form.get('passwordConfirm') %}
{% set elementTranslatePlaceholder = passwordConfirm.getAttribute('placeholder')|trans|raw %}
{% set dummy = passwordConfirm.setAttribute('placeholder', elementTranslatePlaceholder) %}
{{ formElement(passwordConfirm) }}

{% set submit = form.get('submit') %}
{% set submitValue = submit.getValue|trans|raw %}
{% set dummy = submit.setAttribute('value', submitValue) %}
{{ formSubmit(submit) }}

{{ form().closeTag() | raw }}
