<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/app/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/app/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/app/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/app/favicon/site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %} - DotKernel</title>

    <link href="{{ asset('css/app.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
</head>
<body class="app">
    {% include '@partial/left-menu.html.twig' %}
    <div class="page-container">
        {% include '@partial/nav-bar.html.twig' %}
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"></footer>
    </div>
    <script src="{{ asset('js/app.js') }}"></script>

{% block javascript %}{% endblock %}

</body>
</html>
