{% extends '@layout/default.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
    {{ messagesPartial('partial::alerts', {dismissible: true}) }}
    <div class="row account-page">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Update personal data</div>
                <div class="card-body">
                    {% set dummy = form.prepare() %}
                    {{ form().openTag(form) | raw }}

                    {% set identity = form.getElements().identity %}
                    <div class="form-group {% if identity.getMessages() %}has-error{% endif %}">
                        {% set dummy = identity.setAttribute('class', 'form-control') %}
                        {{ formLabel(identity) }}
                        {{ formElement(identity) }}
                    </div>

                    {% set firstName = form.getElements().firstName %}
                    <div class="form-group {% if firstName.getMessages() %}has-error{% endif %}">
                        {% set dummy = firstName.setAttribute('class', 'form-control') %}
                        {{ formLabel(firstName) }}
                        {{ formElement(firstName) }}
                    </div>

                    {% set lastName = form.getElements().lastName %}
                    <div class="form-group {% if lastName.getMessages() %}has-error{% endif %}">
                        {% set dummy = lastName.setAttribute('class', 'form-control') %}
                        {{ formLabel(lastName) }}
                        {{ formElement(lastName) }}
                    </div>

                    {{ formElement(form.get('account_csrf')) }}

                    {% set submit = form.get('submit') %}
                    {% set dummy = submit.setAttribute('class', 'btn btn-lg btn-primary btn-block') %}
                    {{ formSubmit(submit) }}

                    {{ form().closeTag() | raw }}

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Change password</div>
                <div class="card-body">
                    {% set dummy = changePasswordForm.setAttribute('action', '/admin/changePassword') %}
                    {% set dummy = changePasswordForm.prepare() %}
                    {{ form().openTag(changePasswordForm) | raw }}

                    {% set currentPassword = changePasswordForm.get('currentPassword') %}
                    <div class="form-group {% if currentPassword.getMessages() %}has-error{% endif %}">
                        {% set dummy = currentPassword.setAttribute('class', 'form-control') %}
                        {{ formLabel(currentPassword) }}
                        {{ formElement(currentPassword) }}
                    </div>

                    {% set password = changePasswordForm.getElements().password %}
                    <div class="form-group {% if password.getMessages() %}has-error{% endif %}">
                        {% set dummy = password.setAttribute('class', 'form-control') %}
                        {{ formLabel(password) }}
                        {{ formElement(password) }}
                    </div>

                    {% set passwordConfirm = changePasswordForm.getElements().passwordConfirm %}
                    <div class="form-group {% if passwordConfirm.getMessages() %}has-error{% endif %}">
                        {% set dummy = passwordConfirm.setAttribute('class', 'form-control') %}
                        {{ formLabel(passwordConfirm) }}
                        {{ formElement(passwordConfirm) }}
                    </div>

                    {{ formElement(changePasswordForm.get('change_password_csrf')) }}

                    {% set submit = changePasswordForm.get('submit') %}
                    {% set dummy = submit.setAttribute('class', 'btn btn-lg btn-primary btn-block') %}
                    {{ formSubmit(submit) }}

                    {{ form().closeTag() | raw }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
